[Unit]
Description=Radarr on Docker
Requires=docker.service
After=docker.service mnt-radarr-downloads.mount mnt-radarr-movies.mount

[Service]
User=radarr
Group=radarr
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/radarr/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/radarr/docker-compose.yml down

[Install]
WantedBy=default.target
