[Unit]
Description=LazyLibrarian on Docker
Requires=docker.service
After=docker.service mnt-lazyLibrarian-downloads.mount mnt-lazyLibrarian-library.mount 

[Service]
User=lazyLibrarian
Group=lazyLibrarian
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/lazyLibrarian/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/lazyLibrarian/docker-compose.yml down

[Install]
WantedBy=default.target
