[Unit]
Description=Readarr on Docker
Requires=docker.service
After=docker.service

[Service]
User=readarr
Group=readarr
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/readarr/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/readarr/docker-compose.yml down

[Install]
WantedBy=default.target
