[Unit]
Description=Sonarr on Docker (Ended)
Requires=docker.service docker.prowlarr.service docker.nzbget.service mnt-sonarr-downloads.mount mnt-sonarr-tv.mount

[Service]
User=sonarr
Group=sonarr
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/sonarr/ended/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/sonarr/ended/docker-compose.yml down

[Install]
WantedBy=default.target
