[Unit]
Description=Lidarr on Docker
Requires=docker.service
After=docker.service

[Service]
User=radarr
Group=radarr
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/lidarr/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/lidarr/docker-compose.yml down

[Install]
WantedBy=default.target
