[Unit]
Description=NZBGet
After=network.target

[Service]
User=dvr
Group=dvr
ExecStart=/usr/bin/nzbget -D
Type=forking
ExecStop=/usr/bin/nzbget -Q
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
# Needed to run nzbget at boot
WantedBy=multi-user.target

