[Unit]
Description=Sonarr Daemon
After=network.target

[Service]
User=sonarr
Group=sonarr
Restart=always
RestartSec=5
Type=simple
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
ExecStop=-/usr/bin/mono /tmp/nzbdrone_update/NzbDrone.Update.exe "ps aux | grep NzbDrone | grep -v grep | awk '{ print $2 }'" /tmp/nzbdrone_update /opt/NzbDrone/NzbDrone.exe
#  Note the line above. Notice that little "-" sign? That tells systemd to ignore any exit codes.
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target

#https://forums.sonarr.tv/t/implementing-sonarr-with-systemd/3732
