[Unit]
Description=Prowlarr on Docker
Requires=docker.service docker.nzbget.service

[Service]
User=prowlarr
Group=prowlarr
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/prowlarr/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/prowlarr/docker-compose.yml down

[Install]
WantedBy=default.target
