[Unit]
Description=Heimdall on Docker
Requires=docker.service

[Service]
User=heimdall
Group=heimdall
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/heimdall/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/heimdall/docker-compose.yml down

[Install]
WantedBy=default.target
