[Unit]
Description=Sonarr on Docker (TV)
Requires=docker.service mnt-sonarr-downloads.mount mnt-sonarr-tv.mount

[Service]
User=sonarr
Group=sonarr
Restart=always
ExecStart=/usr/bin/docker-compose -f /srv/docker/sonarr/tv/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /srv/docker/sonarr/tv/docker-compose.yml down

[Install]
WantedBy=default.target
